body, html {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
#headerH1 {
    font-size: 28px;
}

#headerH2 {
    font-size: 18px;
}

.centerH1 {
    text-align: center;
}

p {
    font-size: 18px;
}

a.imgCapLink {
    text-decoration: none;
    color: white;
}
a.imgCapLink:hover {
    color: #e5e5e5;
}

.socialIcons {
    width: 24px;
}

.navHeader {
    width: 250px;
    height: auto;
    background: white;
    padding: 10px;
    margin-left: 20px;
    text-align: center;
}

nav {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

button.nav {
    background: white;
    width: 100%;
    border: none;
    height: 40px;
    margin-top: 2px;
    margin-right: 20px;
}

button:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #000000;
}
::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #666666;
}
::-webkit-scrollbar-track:active {
    background: #333333;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* Background */
.border {
    border: none;
}

.mainHeader {
    position: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.homeBG {
    height: 100vh;
    width: 100%;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        height: 300%;
        top: -100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 300%;
        left: -100%;
    }
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../img/videoframe.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
    .navHeader {
        width: 100%;
        height: auto;
    }
}

/* Links */
a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

/* ABOUT SECTION */
.aboutBG {
    background-color: white;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.aboutTitle {
    width: 100%;
    height: 20vh;
}

/* Column */
.Column {
    border-left: solid black;
    height: 60vh;
    width: 100%;
    position: relative;
}

.ProfilePic {
    width: 180px;
    margin: 0 auto;
    display: block;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: .3s ease-out;
    -wekkit-transition: .3s ease-out;
}

.ProfilePic:hover {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.aboutME {
    position: absolute;
    padding: 60px;
    text-align: center;
    top: 50%;
    height: 100px;
    margin-top: -50px; /* account for padding and border if not using box-sizing: border-box; */
}

/* Project Section */
.projectsBG {
    background-color: white;
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    padding: 10%;
    padding-top: 0;
}

/* Footer */
footer {
    background-color: #ebebeb;
    height: 5vh;
    padding: 8px;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px -4px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px -4px 5px 0px rgba(0,0,0,1);
}
