body {

    font: 14px Menlo, "DejaVu Sans Mono", "Lucida Console", monospace;
    height: 100%;
    line-height: 1.72222;
    margin: auto;
    background: black;
}

section.header {

    height: 100%; /* 100% Full-height */
    width: 100px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

img.header-logo {

    position: block;
    width: 100px;
    margin: 0 auto;
    display: block;
    border: 2px white;
    z-index: 2;
}

nav.header-nav {

    margin-top: 20vh;
}

ul li {

    text-align: right;
    list-style: none;
    margin: 70px 12px 0 0;
}

@media (max-width: 640px) {

    .header {
        display: none;
    }
}

#main {
    height:100vh;
}

a {
    text-decoration: none;
    text-underline-style: none;
    color: black;

}

div:hover {
    transform:scale(0.99,0.99);
}

h3 {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-decoration: none;
    font-size: 36px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*________________MAIN CONTENT__________*/

#content_2_fixed{

    background: url("../images/PolyScapeWallpaper.png") fixed bottom;
    background-size: cover;
    width: 100%;
    height: 50vh;
    overflow: hidden;

}

#content_1{

    background: url("../images/LowPolyWorld.png") center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    overflow: hidden;

}

#content_4_fixed{

    background: url("../images/DragonsFedoraWallpaper.jpg") fixed bottom;
    background-size: cover;
    width: 100%;
    height: 50vh;
    overflow: hidden;

}

#content_3{

    background: url("../images/Window$_$ucks.png") center;
    background-size: cover;
    width: 100%;
    height: 50vh;
    overflow: hidden;

}

#content_5_fixed {

    background: url("../images/LowPolyWallpaper.png") fixed top;
    background-size: cover;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

img {
    width: 100%;
}

div {
    -webkit-transition: all 1s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
