body {

    font: 14px Menlo, "DejaVu Sans Mono", "Lucida Console", monospace;
    height: 100%;
    line-height: 1.72222;
    margin: auto;
}

/* Global Text Styles */

h4 {

    font-size: 24px;
}

/* End of Global Text */

/* Header Section */

video {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: 100vh;
    height: auto;
    z-index: 1;
}


section.header {

    height: 100%; /* 100% Full-height */
    width: 100px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

img.header-logo {

    position: block;
    width: 100px;
    margin: 0 auto;
    display: block;
    border: 2px white;
    z-index: 2;
}


h1.hero-title {

    text-align: center;
    font-size: 32px;
    z-index: 3;
}

/* Navigation */

nav.header-nav {


    margin-top: 20vh;

}

@media (max-width: 640px) {

    .header {
        display: none;
    }
}

div.topHeader {

    background-image: url(../images/topHeader.jpg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50vh;
    height: 50vh;
    color: white;
}

h1.headerTitle {

    position: relative;
    text-align: center;
    font-size: 32px;
    margin-left: 140px;
    text-shadow: 1px 0px 2px rgba(150, 150, 150, 1);
    z-index: 3;
}

h1.headerTitle {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;/* Gives that scrolling effect as the typing happens */
  margin-left: 120px;
  letter-spacing: .15em; /* Adjust as needed */
  animation:
  typing .4s steps(40, end),
  blink-caret .75s step-end infinite;
    z-index: 2;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


header.headroom {

    background-color: rgb(0, 0, 0);
    margin: 0;
    width: 100%;
    will-change: transform;
    transition: transform 200ms linear;
}

/* End of Header Section */

/* About Me Section */


div.aboutme {

    height: 140vh;
    padding-top: 1px;
    display: block;
    background-image: url(../images/aboutSection.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;

}

@media (min-width: 1120px) {


    div.aboutme {
        height: 100vh;
    }
}

h4.aboutme {

    margin-left: 120px;
}

div.contentAbout {

    margin-left: 120px;
    margin-top: 25vh;
}

@media (max-width: 640px) {

    div.contentAbout {
        margin-left: 0;
    }

    h1.headerTitle {
        margin-left: 0;
    }
}

img.aboutme {

    margin: auto;
    border: solid white 2px;
    -webkit-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.75);
    -webkit-transition: all 1s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
          position: block;
          width: 240px;
          margin: 0 auto;
          display: block;
          border: 2px white;
          z-index: 1;
}

@media (min-width: 1277px) {

    img.aboutme:hover {

        -webkit-box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.75);
        transform:scale(1.05,1.05);
    }
}

h4.aboutme {

    text-align: center;
    font-size: 48px;
}

p.aboutme {

    margin: 0 auto;
    display: block;
    text-align: center;
    width: 50%;
    padding: 5px;
    margin-bottom: 125px;
}

@media (max-width: 640px) {

    p.aboutme {
        margin-bottom: 20px;
    }
    h4.aboutme {
        margin-left: 0;
    }
    div.contentAbout {
        margin-top: 0;
}
}

    @media (max-width: 1062px) {
        img.aboutme {
            width: 120px;
            height: 120px;
    }
}

/* End of About Me Section */

/* Work Section */

h4.workTitle {

    margin-left: 120px;
    font-size: 48px;
}

@media(max-width: 640px) {

    h4.workTitle {
        margin-left: 0;
    }
    div.workImages {
        margin-top: 1px;
    }
    img.workImage {
        width: 15vh;
    }
}

div.work {

    background-image: url(../images/PolyScapeWallpaper.png);
    height: 100vh;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
    text-align: center;
    color: white;
}

div.workImages {

    margin-top: 25vh;
    height: 100vh;
    width: 97.5%;
    margin-left: 2.5%;
}

/* __________________________________________________________ */
img.workImage {

    border: solid white 2px;
    -webkit-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.75);
    -webkit-transition: all 1s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}


@media (min-width: 1220px) {
    .workImage:hover {

        width: 240px;
        height: 240px;
        -webkit-box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 2px 3px rgba(0,0,0,0.75);
        transform:scale(1.05,1.05);
    }
}

/* End of Work Section */

/* Contact Section */

div.contact {

    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    padding-bottom: 1vh;
    background-color: white;

}

h4.contact {

    margin-left: 120px;
}

@media (max-width: 640px) {

    h4.contact {
        margin-left: 0;
    }
}

/* End of Work Section */

/* Buttons */

div.buttons {

    text-align: center;
}

button.github {

    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-color: rgba(255, 255, 255, 0.53);
    border-style: solid;
    display: inline-block;
    margin-right: 5px;
}

a.github {

    text-decoration: none;
    color: white;
}

button:hover {

    background-color: rgba(0, 0, 0, 0.7);
    border-color: rgba(255, 255, 255, 0.71);
}

/* List Styles */

ul li {

    text-align: right;
    list-style: none;
    margin: 70px 12px 0 0;
}

ul li a {

    text-decoration: none;
    color: #404040;
}

a:hover {

    color: #124495;
}
